*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #08588B;
}

#contenedor{
    width: 900px;
    height: 1200px;
}

#encabezado{
    height: fit-content;
    width: 90%;
    text-align: center;
    background-color: #0C6BA2;
}

#contenido{
    height: fit-content;
    width: 90%;
    text-align: center;
    background-color: #318BBA;
    color: black;
}

#pie{
    height: fit-content;
    width: 90%;
    text-align: center;
    background-color: #53ADD6;
}



p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    margin-left: 15px;
    margin-right: 15px;
}



a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: black;
}

a:hover{
    color: #89A6C2;
}