*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #F2E9E4;
}

#contenedor{
    background-color: #22223B;
    width: 900px;
    height: fit-content;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

#encabezado{
    background-color: #4A4E69;
    width: 100%;
}

#contenido{
    background-color: #9A8C98;
    max-width: 100%;
}

#pie{
    color: white;
    text-align: center;
}


#nombre{
    position: relative;
    left: 10%;
}

#edad{
    position: relative;
    left: 12%;
}

#estatura{
    position: relative;
    left: 5.5%;
}

#peso{
    position: relative;
    left: 8%;
}
#iMC{
    position: relative;
    left: 1%;
    width: 300px;
}

#caloriasH,#caloriasM{
    margin-left: 1%;
    width: 300px;
}
#btnCalcular{
    margin-bottom: 1em;
    width: 200px;
    height: 35px;
    background-color:#5C545B;
    color: white;
    margin-left: 0;
    
}

#lblCalorias,#lblIMC{
    padding: 10px;
}

#resultado{
    width: 150px;
    height: 338px;
    margin-left: 0;

    margin-top: -200px;
}

img{
    margin-left: 25% ;
}

.radio-buttons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.radio-button{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .radio-circle{
    margin-right: 5em;
  }



@media screen and (max-width:1000px) {
    body{
        background-color: #7e6d65;
    }

    #contenedor{
        width: 90%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 5%;
        margin-right: 5%;
    }

    #contenido,
    #encabezado,
    #pie{
        width: 100%;
        height: fit-content;
        align-items: centers;
    }

    img{
        width: 60%;
        height: 20%;
        align-self: center;
    }
}


@media screen and (max-width:400px) {
    #btnCalcular{
        display: block;
        text-align: center;
        width: 58%;
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 0;
    }

    img{
        width: 100%;
        margin-left: 0; 
    }

    input{
        display: block;
        text-align: center;
        position: initial;
        width: 80%;
        height: 15%;
        margin-top: 1em;
        margin-left: 0s;

    }
}
