*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #053B50;
}

#contenedor{
    background-color: #176B87;
    margin-left: 5%;
    width: 90%;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.encabezado{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    
}
.cantidad{
    color: #bcb4b4;
    margin-right: .5em;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}


#tamaño{
    border: 2px solid transparent;
    width: 15em;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #EEEEEE;
    border-radius: 10px;
    transition: all 0.5s;
    text-align: center;
}

#tamaño:hover, #tamaño:focus{
    border: 2px solid #64CCC5;
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
    background-color: #EEEEEE;
}

#generar{
    background-color: #EEEEEE;
    border: none;
    padding: 1rem;
    margin-top: 50px;
    font-size: 20px;
    width: 300px;
    border-radius: 1rem;
    color: #1F4172;
    box-shadow: 0 0.4rem #1F4172;
    cursor: pointer;
    font-weight: bold;
}

#generar:active{
    color: #EEEEEE;
    box-shadow: 0 0.4rem #dfd9d9;
    transform: translateY(0.2rem);
    
}

#generar:hover:not(:disabled){
    background-color: #1F4172;
    color: #bcb4b4;
    font-weight: bold;
    box-shadow: 0 0.4rem #dfd9d9;
}

button:disabled {
    cursor: auto;
    color: grey;
   }

#combo{
    
    margin-top: 5%;
    width: 15em;
    text-align: center;
    height: 2em;
    border-radius: 1rem;
}

#resultados{
    
    margin-top: 5%;
    margin-bottom: 5%;
    width: 400px;
    background-color: #64CCC5;
    text-align: center;
    align-items: center;
    border-radius: 1rem;
    font-weight: bold;
    font-size: 20px;
    background-color: #1F4172;
    color: #bcb4b4;
    box-shadow: 0 0.4rem #dfd9d9;
}

#pie{
    background-color: #1F4172;
    text-align: center;
    color: #bcb4b4;
}