*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #0D1F2D;
}


#contenedor{
    width: 900px;
    height: 1200px;
    margin-left: 20%;
}

hr{
    width: auto;
}
#encabezado{
    width: 90%;
    height: fit-content;
    background-color: #69A197;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
    
}

#contenido{
    width: 90%;
    height: fit-content;
    background-color: rgba(10, 116, 110, 0.667);
    margin-left: 1em;
    margin-right: 1em;
}

#fueraSeccion{
    width: 90%;
    height: fit-content;
    background-color: rgba(6, 97, 92, 0.667);
    margin-left: 1em;
    margin-right: 1em;
}

#registros{
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    margin: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold;
}

label{
    font-size: 18px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 3em;
    margin-top: 3em;
}

button{ 
    margin: 2em;
    width: 300px;
    height: 50px;
    background-color: rgb(0, 70, 67);
    color: white;
}

input{
    background-color: rgb(187, 184, 184);
}
select{
    background-color: rgb(192, 192, 192);
}

