
p{
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    color :red;
    font-size: 12px;
    
}

header{
    background-color: rgb(46, 143, 235);
    text-align: justify;
}

button{
    margin-top: 5em;
    margin-bottom: 1em;
    margin-left: 45%;
    width: 200px;
    height: 35px;
    background-color:#04a327;
    color: white;
}
